/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, sass/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, sass/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 14, sass/screen.sass */
.row-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, sass/bourbon/addons/_clearfix.scss */
.row-container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 17, sass/screen.sass */
.columns, .beats, .settings, .controls, .player, .keyboard, .instruments {
  display: block;
  padding: 0.1rem 1rem 0.1rem 1rem;
}
/* line 20, sass/bourbon/addons/_clearfix.scss */
.columns::after, .beats::after, .settings::after, .controls::after, .player::after, .keyboard::after, .instruments::after {
  clear: both;
  content: "";
  display: table;
}

/* line 27, sass/screen.sass */
.columns div {
  float: left;
}

/* line 35, sass/screen.sass */
.settings dl, .settings dt, .settings dd {
  display: inline;
}
/* line 37, sass/screen.sass */
.settings dt {
  font-weight: bold;
}
/* line 39, sass/screen.sass */
.settings dd {
  margin: 0 0.3rem 0 0;
}

/* line 45, sass/screen.sass */
.player {
  font: 1rem "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
}
/* line 49, sass/screen.sass */
.player div {
  float: left;
}
/* line 51, sass/screen.sass */
.player .instruments {
  margin: 0.8rem 0 1rem 0;
  padding-top: 0.4rem;
}
/* line 54, sass/screen.sass */
.player .instruments p {
  margin: 0;
  display: block;
  clear: left;
  height: 1rem;
}
/* line 60, sass/screen.sass */
.player .score {
  text-align: left;
  float: left;
}
/* line 63, sass/screen.sass */
.player .score p {
  margin: 0;
  float: left;
  display: block;
}
/* line 67, sass/screen.sass */
.player .score i {
  margin: 0;
  padding: 0;
  width: 1rem;
  text-align: center;
  display: block;
  float: left;
}
/* line 74, sass/screen.sass */
.player .score span {
  clear: left;
  display: block;
}
/* line 78, sass/screen.sass */
.player .score-columns {
  display: block;
}
/* line 80, sass/screen.sass */
.player .score-columns b {
  margin: 0;
  padding: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  text-align: center;
}

/* line 89, sass/screen.sass */
.keyboard {
  cursor: pointer;
  font-size: 140%;
  margin-left: -1rem;
}
/* line 94, sass/screen.sass */
.keyboard b {
  font-weight: normal;
}
/* line 97, sass/screen.sass */
.keyboard .color0 i {
  background-color: #9eecda;
}
/* line 100, sass/screen.sass */
.keyboard .color1 i {
  background-color: #ac78b5;
}
/* line 103, sass/screen.sass */
.keyboard .color2 i {
  background-color: #dab58f;
}
/* line 106, sass/screen.sass */
.keyboard .color3 i {
  background-color: #78f19a;
}
/* line 109, sass/screen.sass */
.keyboard .color4 i {
  background-color: #b72e75;
}
/* line 112, sass/screen.sass */
.keyboard .color5 i {
  background-color: #b56acf;
}
/* line 115, sass/screen.sass */
.keyboard .color6 i {
  background-color: #93a7fa;
}
/* line 118, sass/screen.sass */
.keyboard .color7 i {
  background-color: #f1e3d5;
}
/* line 121, sass/screen.sass */
.keyboard .color8 i {
  background-color: #8fafaf;
}
/* line 124, sass/screen.sass */
.keyboard .color9 i {
  background-color: #bd9bc9;
}

/* line 127, sass/screen.sass */
.active-instrument {
  background-color: lightgreen;
}
