/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 */
@import url(node_modules/normalizecss/normalize.css);
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div {
  border: 2px solid #FFF;
  background-color: #FFF; }

h4 {
  margin: 1.45rem 0 0 0; }

dl {
  margin: 0; }

.hidden {
  display: none; }

.row-container {
  margin: auto auto; }

.topbar::after {
  clear: both;
  content: "";
  display: block; }

.topbar,
.instrumentsbar,
.beats,
.settings,
.controls,
.player,
.keyboard,
.sounds {
  display: block;
  padding: 0.1rem 1rem 0.1rem 0.5rem; }

.topbar {
  font-size: 120%; }
  .topbar::after {
    clear: both;
    content: "";
    display: block; }
  .topbar div {
    float: left; }

.settings dl, .settings dt, .settings dd {
  display: inline; }

.settings dt {
  font-weight: bold; }

.settings dd {
  margin: 0 0.3rem 0 0; }

.controls span.pause {
  cursor: pointer;
  font-size: 70%;
  letter-spacing: -0.2rem;
  vertical-align: middle; }

.controls > span {
  cursor: pointer;
  padding-left: 1rem;
  width: 1rem; }

.player {
  font: 1rem "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
  overflow-x: auto;
  white-space: nowrap; }
  .player div {
    float: left; }
  .player .instruments {
    margin: 0.8rem 0 1rem 0;
    padding-top: 0.4rem; }
    .player .instruments p {
      margin: 0;
      display: block;
      clear: left;
      height: 1rem; }
    .player .instruments .active {
      background-color: #AAC; }
  .player .score {
    text-align: left;
    float: left; }
    .player .score p {
      margin: 0;
      float: left;
      display: block; }
    .player .score i {
      margin: 0;
      padding: 0;
      width: 1rem;
      text-align: center;
      display: block;
      float: left; }
    .player .score span {
      clear: left;
      display: block; }
  .player .score-columns {
    display: block; }
    .player .score-columns b {
      margin: 0;
      padding: 0;
      display: block;
      width: 1rem;
      height: 1rem;
      text-align: center; }
    .player .score-columns .active {
      background-color: #AAC; }

.keyboard {
  font-size: 150%;
  cursor: pointer; }
  .keyboard pre {
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre; }
  .keyboard .color0 i {
    background-color: #9eecda; }
  .keyboard .color1 i {
    background-color: #ac78b5; }
  .keyboard .color2 i {
    background-color: #dab58f; }
  .keyboard .color3 i {
    background-color: #78f19a; }
  .keyboard .color4 i {
    background-color: #b72e75; }
  .keyboard .color5 i {
    background-color: #b56acf; }
  .keyboard .color6 i {
    background-color: #93a7fa; }
  .keyboard .color7 i {
    background-color: #f1e3d5; }
  .keyboard .color8 i {
    background-color: #8fafaf; }
  .keyboard .color9 i {
    background-color: #bd9bc9; }

.active-instrument {
  background-color: lightgreen; }

/* line 10, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html,
body {
  height: 100%; }

/* line 12, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.bp {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -48px; }

/* line 18, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.bp .footer-layout {
  height: 48px; }

/* line 20, .install/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.footer-content {
  clear: both;
  position: relative;
  height: 48px; }

/* line 193, sass/screen.sass */
.footer-content {
  background-color: #DFD; }

.footer-content {
  background-color: #DFD; }

input::-moz-focus-inner {
  border: 0;
  margin: -2px;
  padding: 0; }

.input-text input[type=text] {
  border: 0;
  margin: 0;
  padding: 0; }

.focus {
  border: 2px solid #AAA; }

.debugView {
  border: 1px solid red;
  font-size: 80%; }
