
@col-width: 1rem;
@bg-input:  #AAE;
@topline:   10rem;

// TODO Grid https://www.reddit.com/r/Frontend/comments/4lkww8/grid_system_research/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bag {
    position: absolute;
    top: 6rem;
    left: 1rem;
    float: right;
}

.bag div {
    padding-right: 1rem;
}

.clear {
    clear: right;
}

.player {
    display: block;
    font: 1rem "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: absolute;
    top: 1rem;
    left: 1rem;
    // width: 95%;
    cursor: pointer;
    .instruments {
        margin: 0.8rem 0 1rem 0;
        float: left;
        padding-top: 0.2rem;
        p {
            margin: 0;
            display: block;
            clear: left;
            height: @col-width;
            // border: 1px solid blue;
        }
    }
    .score {
        text-align: left;
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        p {
            margin: 0;
            float: left;
            display: block;
        }
        i {
            margin: 0;
            padding: 0;
            width: @col-width;
            text-align: center;
            display: block;
            float: left;
        }
        span {
            clear: left;
            display: block;
        }
    }
    .score-columns {
        position: relative;
        // top: 0.2rem;
        display: block;
        float: left;
        b {
            margin: 0;
            padding: 0;
            display: block;
            clear: left;
            width: @col-width;
            height: 1rem;
            text-align: center;
           // border: 1px solid red;
        }

    }
}

.beatsView {
    // position: fixed;
    background: transparent;
    width: 150px;
    font-size: 16px;
}

.twocolumn {
    margin: 0.4rem 0 -1rem 0;
    width: 24rem;
}

.twocolumn div {
    float: left;
}

.active {
    background-color: lightblue;
    border-left: 1px solid blue;
}

.active-key {
    background-color: lightgrey;
}

.active-instrument {
    background-color: lightgreen;
}

.instrument-editor {
   // position: absolute;
   margin: 0;
   padding: 0;
   top: @topline;
   left: 22rem;
   width: auto;
   // border: 1px solid red;
   background-color: white;
   dt {
       font-weight: bold;
       display: block;
   }
   dd {
       margin: 0 0.3rem 0 0.5rem;
       display: inline-block;
   }
}

.slider-input {
    // border: 1px solid green;
    width: 2rem;
    // position: absolute;
    z-index: 100;
    input {
        width: 2rem;
        margin: 0;
    }
    input[type=range] {
        width: 2rem;
        -webkit-appearance: slider-vertical;
        writing-mode: bt-lr;
        padding: 0 1px 0 0;
    }
    input[type=text] {
        width: 1.9rem;
        text-align: center;
    }
}

.keyboard {
    cursor: pointer;
    font-size: 160%;
    margin-left: -1.4rem;
    // border: 1px solid red;
    // position: absolute;
    top: @topline;
    b {
        font-weight: normal;
    }
    .color0 {
        i { background-color: #9eecda; }
    }
    .color1 {
        i { background-color: #ac78b5; }
    }
    .color2 {
        i { background-color: #dab58f; }
    }
    .color3 {
        i { background-color: #78f19a; }
    }
    .color4 {
        i { background-color: #b72e75; }
    }
    .color5 {
        i { background-color: #b56acf; }
    }
    .color6 {
        i { background-color: #93a7fa; }
    }
    .color7 {
        i { background-color: #f1e3d5; }
    }
    .color8 {
        i { background-color: #8fafaf; }
    }
    .color9 {
        i { background-color: #bd9bc9; }
    }
}

.settings {
    dl, dt, dd {
        display: inline;
    }
    dt {
        font-weight: bold;
    }
    dd {
        margin: 0 0.3rem 0 0;

    }
}

.foo {
    // position: absolute;
    top: 12rem;
}

.input-text {
    // position: absolute;
    font-size: 110%;
    text-decoration: bold;
    background-color: white;
    input {
        width: 100%;
        text-align: center;
    }
}

.controls {
    left: 1rem;
    span {
        margin-right: 2rem;
    }
}

.hidden {
    display: none;
}

.test {
	top: 12rem;
	left: 16rem;
}
